*{
   
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-nav input {
    margin-left: 300px;
}
.item-head:hover{
    font-size: 17px;
    font-weight: bold;
}
#navbar-mb{
    display: none;
}
@media (max-width: 1140px) {
    #navbar-pc{
        display: none;
    }
    #navbar-mb{
        display: block;
    }
}
.dropdown-menu{
    border: var(--border-style);
}
.dropdown-link{
    text-decoration: none !important;
    
}
.nav-link{
    font-size: 20px;
    font-weight: 700;
}